/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
}
/************************************/
/**********tarjeta-evento***** calc(100%-400px);******/
/************************************/
.tarjeta-evento{
  background: #536ea3;
  width:400px ; 
}
/************************************/
/**********CONTAINER MODAL***********/
/************************************/
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}

.container-modal {
  width: 500px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  /* border: 1px solid #888; */
  border-radius: 10px;
  font-size: small;
}

.add-form {
  display: flex;
  flex-direction: column;
  /* margin: 6px 3px; */
  /* font-size: 0.6rem; */
  /* border: 1px dashed #ff0000; */
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin: 1px 0px;
}

.form-control label {
  display: none;
}

.form-control .form-agrupado {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue */
}

/* .form-control .form-agrupado input, */
.form-control .form-agrupado select {
  width: 100%;
}

.btn-centro {
  background-color: rgb(60, 60, 60);
  color: rgb(224, 224, 224);
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
  margin: 2px 2px;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
}

.btn-centro:hover {
  background-color: rgb(19, 19, 19);
  color: rgb(221, 255, 0);
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
  margin: 2px 2px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
}